# Python / envs
.venv/
venv/
env/
*.egg-info/
*.egg
site-packages/

# Bytecode / caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Test / tooling
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.mypy_cache/

# Security-scan artifacts (written by the CI pip-audit / bandit steps)
pip_audit.json
pip-audit.json
bandit.json

# Editor / OS
.vscode/
.DS_Store